<launch>
    <arg name="location"/>
    <param name="description_file" type="string" value="$(find stretch_seeing_eye)/config/$(arg location)/description_data.csv" />
    <node pkg="stretch_seeing_eye" type="detect_door_node" name="detect_door_node" output="screen"/>
    <node pkg="stretch_seeing_eye" type="navigate_waypoints.py"  name="navigate_waypoints" output="screen">
        <!-- <param name="start_waypoint" type="string" value/> -->
    </node>
</launch>