<launch>
    <node pkg="image_rotate" type="image_rotate" name="image_rotate">
        <remap from="image" to="/camera/color/image_raw"/>
        <remap from="rotated/image" to="/camera/color/image_raw_rotated"/>
        <param name="target_z" type="double" value="-1" />
    </node>
    <node pkg="image_rotate" type="image_rotate" name="depth_rotate">
        <param name="image" type="str" value="/camera/aligned_depth_to_color/image_raw" />
        <param name="rotated/image" type="str" value="/camera/aligned_depth_to_color/image_raw_rotated" />
        <!-- <remap from="image" to="/camera/aligned_depth_to_color/image_raw"/> -->
        <!-- <remap from="rotated/image" to="/camera/aligned_depth_to_color/image_raw_rotated"/> -->
        <param name="target_z" type="double" value="-1" />
    </node>
</launch>